extends ../layout

block head
    - title = "配对列表";
    link(href='/stylesheets/group_list.css' rel='stylesheet')
    script(src='/javascripts/clipboard.js')
    - var copy_str = "";
        each group,index in data
            if index % 2 == 0
                - copy_str += group.jia.nickname+" - "+group.yi.nickname+"\n";
block nav_menu
    ul(id="nav-mobile" class="right")
        li
            a(class="dropdown-button" href="#!" data-activates="dropdown1") 更多操作
            ul(id="dropdown1" class="dropdown-content")
                li
                    a(href="javascript:void(0);" class="copy_btn" data-clipboard-text=copy_str) 复制配对信息
                    script.
                        new Clipboard('.copy_btn')
                li
                    a(href="javascript:deleteTodayGroups();" style="color:red;") 删除今日配对
                    script.
                        function deleteTodayGroups() {
                            $.ajax({
                                url: '/eatmanage/delete',
                                type: 'get',
                                async: true,
                                success: function (data) {
                                    if (confirm("删除成功！")) {
                                        window.location.href = "/users";
                                        return;
                                    }
                                },
                            })
                        }
block content
    div
        ul(class="collection" style="margin:0")
            if data != null
                each group,index in data
                    if index % 2 == 0
                        li(class="collection-item")
                            div(class="left")
                                img(src=group.jia.avatar alt="" class="circle myavatar")
                                p(class="title center") #{group.jia.nickname}
                            div(class="right")
                                img(src=group.yi.avatar alt="" class="circle myavatar")
                                p(class="title center") #{group.yi.nickname}
                            div(class="clearfix")